.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: monospace;
}

/* Header Styles */

.Header {
  padding: 20px 0;
}

.HeaderContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.Logo {
  width: 80px;
  margin-right: 10px;
}

.Header h2 {
  font-size: 35px;
  margin-top: 12px;
}

.PoweredBy {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Section Styles */

.Section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.LeftContent {
  width: 50%;
  margin-right: 20px;
}

.RightContent {
  width: 50%;
  margin-left: 5%;
}

.WelcomeText {
  font-size: 18px;
  margin-left: 50px;
  font-weight: 400;
  width: 75%;
}

.GetStartedBtn {
  background-color: #000000;
  margin-top: 25px;
  color: #f5f5f5;
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  margin-left: 6.8%;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.GetStartedBtn:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
}

@media (max-width: 680px) {
  .GetStartedBtn {
    position: relative;
    bottom: 150px;
    margin-left: 300px;
  }
  .GetStartedBtn:hover {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
  }
}

.Image {
  width: 100%;
}

/* Footer Styles */

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.Copyright {
  font-size: 16px;
  text-align: center;
}

/* Fade In and Fade Out Animations */

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Card Styles */

.UploadPDFTextScreen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card1 {
  width: calc(40% - 20px); 
  padding: 20px;
  background-color: #ffffff;
  border: 1px dashed #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 20px 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgb(147, 248, 165);
  background: #f5fff5;
}

.card1 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Fade In and Fade Out Animations */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}